#Automatically created file from CWJ
#Mon Jun 07 13:40:22 MSK 2021
startWindowWidth=800
interval=3
tone=750
cwSpeed=100
startPause=0
symbolCwFileName=symbol-cw.dat
notRandomWords=false
minimumWindowHeight=500
engInterface=false
iconFileName=cwj.png
rusSymbols=false
maximumWindowHeight=1000
wordQuantity=20
maximumWindowWidth=1500
startWindowHeight=500
caliberCwSpeed=3000
minimumWindowWidth=800
