#Automatically created file from CWJ
#Sat Jun 12 13:51:54 MSK 2021
caliberCwSpeed=3000
startWindowHeight=600
startPause=0
minimumWindowWidth=1000
symbolCwFileName=symbol-cw.dat
engInterface=false
maximumWindowHeight=2000
minimumWindowHeight=500
notRandomWords=false
wordQuantity=10
cwSpeed=80
maximumWindowWidth=2000
cwWordFileName=cw.txt
startWindowWidth=1020
interval=3
iconFileName=cwj.png
rusSymbols=false
tone=700
